<div class='box' id='foot-nav'> 
<div class='buttons' id='tabs'>
		<a id='b1' class='button is-large is-info' href='/posts'>Posts</a>
		<a id='b2' class='button is-large is-primary' href='/create'>Post</a>
</div>
</div>
<script src='/js/custom.js'></script>
</body>
</html>
