<%- include('partials/head') %>

<%- include('partials/navbar') %>

<section class="section hero is-fullheight is-primary">
		<div class="hero-body">
				<div class="">
		  <h1 class="title is-1">You've Reached Us! </h1>
		  <h2 class="subtitle is-3">
				Sorry, We're<strong> Currently Closed </strong> for the public.
		  </h2>
		  <h3 class='subtitle is-6'> <strong>Probably never gonna open up :)</strong> </h3>
		  </div>
		  </div>
</section>

<%- include('partials/foot') %>
